@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color: #ff651c;
    --dark-color: #373737;
}

body{
    font-family: "Jost", sans-serif;
    font-weight: 400;
    color: #555;
}

img{
    max-width: 100%;
}

a{
    color: var(--primary-color);
    text-decoration: none;
}

a:hover{
    color: #cb612f;
    text-decoration: none;
}

.text-primary {
    color: var(--primary-color) !important;
}

.text-dark {
    color: var(--primary-color);
}

/* Header */
.main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 11;
    background: transparent;
    transition: 0.3s background;
}

.main-header .navbar {
    padding: 15px 0;
    background-color: white; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1050;
    background: rgba(255, 255, 255, 0.1); /* Transparan */
    backdrop-filter: blur(10px); /* Blur efek */
    transition: background 0.3s ease-in-out;
}

.main-header .navbar-nav > li {
    padding: 0 10px;
}

.main-header .navbar-nav > li > .nav-link {
    padding: 0 5px;
    line-height: 35px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    color: var(--dark-color);
    letter-spacing: 3px;
    position: relative;
}

.main-header .navbar-nav > li > .nav-link:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: auto;
    width: 0;
    height: 2px;
    background: var(--primary-color);
    transition: ease all 0.3s;
}

.main-header .navbar-nav > li > .nav-link:hover {
    color: var(--primary-color);
}

.main-header .navbar-nav > li > .nav-link:hover::after {
    left: 0;
    right: auto;
    width: 100%;
}

@media (max-width: 991px) {

    .main-header .navbar-collapse {
        border-bottom: 2px solid var(--dark-color);
        border-top: 2px solid var(--dark-color);
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
    }

    .main-header .navbar-nav >li +li {
        border-top: 1px solid rgba(55, 55, 55, 0.1);
    }

    .main-header .navbar-nav > li > .nav-link {
        line-height: 50px;
    }

    .main-header .navbar-nav > li > .nav-link::after{
        display: none;
    }

    .main-header .navbar-toggler {
        display: flex;
        flex-direction: column;
        border: none;
        padding: 4px 9px;
        outline: none;
        box-shadow: none;
    }

    .main-header .navbar-toggler span {
        width: 25px;
        height: 2px;
        background: var(--dark-color);
        margin: 4px 0;
        transition: 0.3s;
    }

    .main-header .navbar-toggler:not(.collapsed) span:nth-child(1){
        transform: translateY(10px) rotate(45deg);
    }

    .main-header .navbar-toggler:not(.collapsed) span:nth-child(2){
        opacity: 0;
    }

    .main-header .navbar-toggler:not(.collapsed) span:nth-child(3){

        transform: translateY(-10px) rotate(-45deg);
    }
}

.colored-btn{
    padding: 8px 20px;
    border: 2px solid var(--primary-color);
    font-size: 14px;
    line-height: 1.5;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: ease all 0.3s;
    display: inline-block;
    background: var(--primary-color);
    color: #fff;
    box-shadow: 6px 6px 0 -1px var(--dark-color);
}

.colored-btn:hover {
    color: #fff;
    background: var(--dark-color);
    border-color: var(--dark-color);
    box-shadow: 5px 5px 0 -2px var(--primary-color);
}

.bg-gray {
    background-color: rgba(254, 196, 72, 0.1);
}

.bg-dark {
    background-color: var(--dark-color) !important;
}

main {
    position: relative;
    z-index: 1;
}

/* Home Section */
.home-section {
    position: relative;
    overflow: hidden;
    padding-top: 150px;
    padding-bottom: 100px;
}

@media(max-width: 767px) {
    .home-section{
        padding-bottom: 70px;
    }
}

.home-section .container {
    position: relative;
    z-index: 1;
}

.home-section .home-intro h6{
    font-weight: 600;
    color: var(--dark-color);
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 16px;
    margin: 0 0 30px;
}

@media (max-width: 576px) {
    .home-section .home-intro h6 {
        margin: 0 0 20px;
    }
}

.home-section .home-intro h1 {
    font-size: 70px;
    font-weight: 600;
    color: var(--dark-color);
    margin: 0 0 35px;
    line-height: 1;
}

@media (max-width: 1200px) {
    .home-section .home-intro h1 {
        font-size: 60px;
    }
}

@media (max-width: 767px) {
    .home-section .home-intro h1 {
        margin: 0 0 25px;
        font-size: 45px;
    }
}

.home-section .home-intro h1 span {
    border-bottom: 2px solid #fec448;
}

.home-section .home-intro p {
    font-size: 20px;
}

@media (max-width: 767px) {
    .home-section .home-intro p {
        font-size: 18px;
    }
}

.home-image img {
    max-width: 280px;
    object-fit: cover;
    border-radius: 20%;
    border: 2px solid #000;
    position: relative;
    z-index: -2;
}

@media (max-width: 767px) {
    .home-image img {
       height: 300px;
       width: 300px;
    }
}

.anim-elements {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.anim-elements .anim-element {
    position: absolute;
    font-size: 30px;
}

.anim-elements .anim-element:nth-child(1) {
    top: 12%;
    left: 15%;
    color: var(--primary-color);
    animation: aniOne 13s infinite linear alternate;
}

.anim-elements .anim-element:nth-child(2) {
    bottom: 15%;
    left: 45%;
    color: var(--primary-color);
    animation: aniTwo 13s infinite linear alternate;
}

.anim-elements .anim-element:nth-child(3) {
    bottom: 20%;
    left: 30%;
    color: var(--primary-color);
    animation: aniThree 13s infinite linear alternate;
}

.anim-elements .anim-element:nth-child(4) {
    top: 15%;
    right: 25%;
    color: var(--primary-color);
    animation: aniFour 13s infinite linear alternate;
}

.anim-elements .anim-element:nth-child(5) {
    top: 18%;
    right: 25%;
    color: var(--primary-color);
    animation: aniThree 13s infinite linear alternate;
}


@keyframes aniOne {
    0% {transform: translate(0, 0) rotate(0);}
    40% {transform: translate(141px, 72px) rotate(75deg);}
    80% {transform: translate(-40px, 72px) rotate(145deg);}
    100% {transform: translate(0, 0) rotate(0);}
}

@keyframes aniTwo {
    0% {transform: translate(0, 0) rotate(0) scale(1);}
    20% {transform: translate(73px, -1px) rotate(36deg) scale(.9);}
    60% {transform: translate(83px, 122px) rotate(108deg) scale(1.2);}
    100% {transform: translate(0, 0) rotate(0) scale(1);}
}

@keyframes aniThree {
    0% {transform: translate(-300px, 151px) rotate(0);}
    100% {transform: translate(251px, -200px) rotate(180deg);}
}

@keyframes aniFour {
    0% {transform: translate(61, -99) rotate(0);}
    20% {transform: translate(4px, -190px) rotate(38deg);}
    60% {transform: translate(-263px, 164px) rotate(108deg);}
    100% {transform: translate(-1px, 0) rotate(190deg);}
}

/* Section */
.section {
    padding: 70px 0;
    position: relative;
}

/* Tablet (ukuran layar < 992px) */
@media (max-width: 991px) {
    .section {
        padding: 80px 0;
    }
    .row {
        text-align: center; /* Biar konten lebih rapi di layar kecil */
    }
}

/* Smartphone (ukuran layar < 768px) */
@media (max-width: 767px) {
    .section {
        padding: 60px 0;
    }
    .row {
        flex-direction: column; /* Supaya elemen di dalam row jadi 1 kolom */
    }
    .col-lg-6 {
        width: 80%; /* Supaya gambar & teks full-width */
    }
    img {
        max-width: 80%; /* Supaya gambar tidak melebihi lebar layar */
        height: auto;
    }
}


.section-heading {
    padding-bottom: 60px;
    text-align: center;
}

@media(max-width: 991px) {
    .section-heading {
        padding-bottom: 40px;
    }
}

@media(max-width: 767px) {
    .section-heading {
        padding-bottom: 30px;
    }
}

.section-heading h3 {
    font-size: 50px;
    margin: 0;
    color: var(--dark-color);
    font-weight: 600;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.section-heading h4{
    font-size: 50px;
    margin: 0;
    color: white;
    font-weight: 600;
    letter-spacing: 4px;
    text-transform: uppercase;
}

@media(max-width: 991px) {
    .section-heading h3 {
        font-size: 45px;
    }
}

@media(max-width: 767px) {
    .section-heading h3 {
        font-size: 38px;
    }
}

.about-text p {
    font-size: 18px;
}


/* Section Skills */

 .section .row i {
    font-size: 2rem;
    margin: 1rem auto 0;
    border: 2px solid #000000;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5a841; 
  }

  @media (max-width: 991px) {
    .section {
        padding: 80px 0;
    }
    .row {
        text-align: center; /* Biar konten lebih rapi di layar kecil */
    }
}

/* Smartphone (ukuran layar < 768px) */
@media (max-width: 767px) {
    .section .card {
        padding: 20px;
        max-width: 80%; /* Agar tidak terlalu lebar di layar kecil */
        margin: auto; /* Supaya tetap di tengah */
    }
}

  /* Portfolio */
  .portfolio-box .portfolio-img {
    position: relative;
    border: 2px solid var(--dark-color);
    box-shadow: 0 0 0 0 var(--dark-color);
    transition: 0.3s;
  }

  .portfolio-box .portfolio-img:hover{
    box-shadow: 5px 5px 0 0 var(--dark-color);
  }

  .portfolio-box .portfolio-text span {
    display: inline-block;
    padding: 8px 20px;
    background: rgba(255, 101, 28, .2);
    color: var(--dark-color);
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    border-radius: 30px;
    margin-bottom: 18px;
  }

  .portfolio-box .portfolio-text h4 {
    color: var(--dark-color);
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 20px;
  }

  @media(max-width: 767px) {
    .portfolio-box .portfolio-text h4 {
        font-size: 26px;
        margin-bottom: 10px;
    }
  }

  @media(max-width: 767px){
    .portfolio-box{
        width: 80%;
        margin: auto;
    }
  }

  @media(max-width: 767px){
    .portfolio-box p{
        text-align: left;
    }
  }

  .portfolio-box .portfolio-text .colored-btn {
    font-size: 12px;
  }


  /* Contact Section */
  .contact-infos {
    margin: 0;
    list-style: none;
    padding: 0;
  }

  .contact-infos li {
    display: flex;
    position: relative;
    padding-bottom: 35px;
  }

  .contact-infos li:last-child {
    padding-bottom: 0;
  }

  .contact-infos .icon {
    width: 55px;
    height: 55px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--dark-color);
    font-size: 25px;
    background-color: var(--primary-color);
  }

  .contact-infos h5 {
    font-size: 14px;
    margin: 0 0 5px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .contact-infos p {
    margin: 0;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
  }

  @media(max-width: 767px){
    .contact-infos{
        width: 80%;
        margin: auto;
    }
  }